
    <div class="container">
        <div class="row profile" display="flex">
        <div class="col-md-3">
          <div class="profile-sidebar">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic row justify-content-center" >
              <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="img-responsive" alt="">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
                Jason Davis
              </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <div class="profile-userbuttons">
              <%= link_to 'Vols disponibles', trips_path, class:"btn btn-success btn-sm" %>
            </div>
                 <div class="portlet light bordered">
                                                      <!-- STAT -->
                <div class="row list-separated profile-stat">

                </div>
                <!-- END STAT -->
     <div>
      <h4 class="profile-desc-title text-center"">About Jason Davis</h4>
      <span class="profile-desc-text"> "Story of his life. Very interesting." </span>
      <div class="margin-top-20 profile-desc-link">
          <i class="fa fa-globe"></i>
          <a href="https://www.apollowebstudio.com">apollowebstudio.com</a>
      </div>
      <div class="margin-top-20 profile-desc-link">
          <i class="fa fa-twitter"></i>
          <a href="https://www.twitter.com/jasondavisfl/">@jasondavisfl</a>
      </div>
      <div class="margin-top-20 profile-desc-link">
          <i class="fa fa-facebook"></i>
          <a href="https://www.facebook.com/">JasonDavisFL</a>
       </div>
     </div>
   </div>



          </div>
        </div>
        <div class="col-md-9">
          <div class="profile-content">
             <div class="container mt-5">
                <h1>Mes réservations de vol</h1>

                <select id="trip-status-filter-btn">
                    <option value="#">select a trip status:</option>
                    <option value="pending">pending ⚫️</option>
                    <option value="confirmed">confirmed 🔵</option>
                </select>

            <%#
            <div class="dropdown">
              <button id="trip-status-filter-btn" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">pending ⚫️</a>
                <a class="dropdown-item" href="#">confirmed 🔵</a>
              </div>
            </div>
            %>

            <table class="table">
            <thead>
              <tr>
                <th scope="col">Statut</th>
                <th scope="col">Départ</th>
                <th scope="col">Destination</th>
                <th scope="col">Date de départ</th>
                <th scope="col">Date d'arrivée</th>
                <th scope="col">Nom du Jet</th>
                <th scope="col">Prix</th>
                <th scope="col">Review</th>
              </tr>
            </thead>
            <tbody>
                <% @bookings.each_with_index do |b, index| %>
              <tr class="<%= b.status %>">
                <!-- <th scope="row"> -->
                <!-- </th> -->
                <td>
                  <% if b.status == 'pending' %>
                    <%= "⚫️" %>
                  <% else %>
                    <%= "🔵" %>
                  <% end %>
                </td>
                <td><%= b.trip.start_city %></td>
                <td><%= b.trip.end_city %></td>
                <td><%= b.trip.start_date.strftime("%d/%m/%Y") %></td>
                <td><%= b.trip.end_date.strftime("%d/%m/%Y") %></td>
                <td><%= b.trip.jet_name %></td>
                <td><%= b.trip.price %> € HT</td>
                <% if b.status == 'confirmed' %>
                  <td><%= link_to 'Add a review', trip_booking_path(b.trip,b), class:"btn btn-success btn-sm" %>
                <% end %>
              </tr>
                <% end %>
            </tbody>
          </table>


          <h1>Mes propositions </h1>
    <!--
          <ul>
              <% @trips.each do |t| %>
              <li><%= t.city %> <%= t.start_date %>
                <br> <%= t.jet_name  %> <%= t.jet_name  %> <%= t.jet_model  %> <%= t.jet_seats %>
                </li>
              <% end %>
          </ul> -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Départ</th>
          <th scope="col">Destination</th>
          <th scope="col">Date de départ</th>
          <th scope="col">Date d'arrivée</th>
          <th scope="col">Nom du Jet</th>
          <th scope="col">Prix</th>
        </tr>
      </thead>
      <tbody>
          <% @trips.each_with_index do |t, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= t.start_city %></td>
          <td><%= t.end_city %></td>
          <td><%= t.start_date.strftime("%d/%m/%Y") %></td>
          <td><%= t.end_date.strftime("%d/%m/%Y") %></td>
          <td><%= t.jet_name %></td>
          <td><%= t.price %> € HT</td>


        </tr>
          <% end %>
      </tbody>
    </table>
              <table class="table">
                <h1>Mes reviews </h1>
                <thead>
                  <tr>
                    <th scope="col">Utilisateur</th>
                    <th scope="col">Review</th>
                  </tr>
                    <tbody>
                    <tr>
                      <td>"current user"</td>
                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </td>
                    </tr>
                  </tbody>
                </thead>
              </table>
        </div>
      </div>
    </div>
  </div>
</div>





