
<div class="container mt-3">
  <p>Trips#index</p>
  <h1>Voyager en Jet Privé avec Jetsetter</h1>
  <div class="card-container">
    <% @trips.each do |trip| %>
      <div class="card-product">
          <%= image_tag "jetplane.png" %>
        <div class="card-product-infos">
          <h2><%= trip.jet_name %></h2>
          <p>Du <%= trip.start_date.strftime("%d/%m/%Y") %> Au <%= trip.end_date.strftime("%d/%m/%Y") %></p>
          <p><%= trip.start_city %> -> <%= trip.end_city %></p>
          <p class="card-price"><%= trip.price %> € HT</p>
          <%= link_to 'Voir offre', trip_path(trip), class: 'btn btn-ghost' %>
        </div>
      </div>
    <%end %>
  </div>
</div>

