<div class="container mt-5">
<!-- <p>TripsController#New</p> -->
    <div class="form-group-new">
        <%= simple_form_for @trip do |f| %>
          <%= f.input :start_date, label: 'Date de départ'%>
          <%= f.input :end_date, label: 'Date de fin' %>
          <%= f.input :start_city, label: 'Ville de départ' %>
          <%= f.input :end_city, label: 'Ville de darrivé' %>
          <%= f.input :price, label: 'Prix du vol' %>
          <%= f.input :jet_name, label: 'Nom de votre jet' %>
          <%= f.input :jet_model, label: 'le model de votre jet' %>
          <%= f.input :jet_seats, label: 'Combien de places disponibles' %>
          <%= f.input :jet_description, label: 'Une description pour le vol' %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "add a trip", class: "btn btn-ghost-confirmed" %>
        <% end %>
    </div>
</div>


