<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path url_for(@trip.photo), height: 400, width: 1080 %>')">
  <div class="container">
    <h1></h1>
    <p></p>
    <a class="btn btn-flat" href="#"></a>
  </div>
</div>

<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />

<div class="container mt-5">
  <h1 class="font-weight-light">Flight details</h1>

<div class="itinerary">
  <h2>ITINERARY</h2>
  <p><%= @trip.start_city %></p>
  <p><%= @trip.end_city %></p>
</div>
<!--     <div class="row">
      <div class="contenido">
        <div class="ticket">
          <div class="hqr">
            <div class="column left-one"></div>
            <div class="column center">
              <div id="qrcode"></div>
            </div>
            <div class="column right-one"></div>
          </div>
        </div>

        <div class="details">
          <div class="masinfo">

            <div class="left">
              <div class="tinfo">
                Departure
              </div>

              <div class="tdata nesp">
                <%= @trip.start_city %>
              </div>
            </div>

            <div class="right">
              <div class="tinfo">
                destination
              </div>

              <div class="tdata nesp">
                <%= @trip.end_city %>
              </div>
            </div>

          </div>

          <div class="masinfo">

            <div class="left">
              <div class="tinfo">
                date start
              </div>
              <div class="tdata nesp">
                <%= @trip.start_date %>
              </div>
            </div>

            <div class="right">
              <div class="tinfo">
                date end
              </div>
              <div class="tdata nesp">
                <%= @trip.end_date %>
              </div>
            </div>
          </div>

          <div class="tinfo">
            Price
          </div>

          <div class="tdata">
            <%= @trip.price %> €
          </div>

          <div class="tinfo">
            Jet model
          </div>

          <div class="tdata">
            <%= @trip.jet_model %>
          </div>


          <div class="tinfo">
              Duration
          </div>

          <div class="tdata">
            <%= @trip.duration %>
          </div>


          <div class="link">
            <%= link_to 'Réserver', new_trip_booking_path(@trip), method: :get, class: 'btn btn-ghost' %>
          </div>
      </div>
    </div>
  </div>
</div>
  <%= cl_image_tag @trip.photo.key, height: 300, width: 400, crop: :fill %>

