<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path url_for(@trip.photo), height: 400, width: 1080 %>')">
  <div class="container">
    <h1></h1>
    <p></p>
    <a class="btn btn-flat" href="#"></a>
  </div>
</div>

<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />

<div class="container mt-5">
  <h1 class="hache-title">Flight details</h1>
<br/>
<div class="itinerary">
  <h2>ITINERARY</h2>
  <p><%= @trip.start_city %> -> <%= @trip.end_city %></p>
</div>
<br/>
<div class="duration">
  <h2>DURATION</h2>
  <p><%= @trip.duration %> H</p>
</div>
<br/>
<div class=jet-model>
  <h2>JET MODEL</h2>
  <p><%= @trip.jet_model %> H</p>
</div>
<br/>
<div class="price">
  <h2>PRICE</h2>
  <p><%= @trip.price %> €</p>
</div>
<br/>
<div class="price">

</div>
<br/>
    <div class="link">
      <%= link_to 'Book', trip_bookings_path(@trip), method: :post, class: 'btn btn-ghost' %>
    </div>
