<h1>Your bookings</h1>

<% @trips = Trip.where(user_id: 3]) %>
<% @trips.each |t| do %>
    <li>
     <%= trip.start_city %> <%= trip.end_city %> : <%= trip.start_date %> <%= trip._date %> <% trip.price %>
    </li>
  <% end %>
<%-# <% @bookings = Booking.where(user: current_user[:id]) %>
<%-#<% @bookings.each |booking| do %>
    <li>
     <%= booking.trip.start_city %> <%= booking.trip.end_city %> <%= booking.status %>
    </li>
 <%-# <% end %> */
