<h1>Bookings#new</h1>

<h4>Votre voyage a bien été validé</h4>
<%= render "form" %>
<p>Voici le récapitulatif de votre voyage</p>
<p><%= @trip.start_city %></p>
<p><%= @trip.end_city %></p>
<p><%= @trip.price %></p>

<%= link_to 'See all trips', trips_path, class: 'btn btn-success' %>

